.but {
  margin-left: 10px;
  background-color: aquamarine;

}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html {
  background-color: lightgrey;
  font-family:'Montserrat', sans-serif; 
}
#text{
  font-style: italic;
  color: blue;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input {
  font: 1em sans-serif;
  /* width: 300px; */
  box-sizing: border-box;
  border: 1px solid rgb(100, 91, 91);
}

input:focus {
  border-color: #000;
}

#but {
  margin-left: .6em;
  background-color: rgb(54, 54, 218);
  color: white;
  border-radius: 5px;
  /* border: 1px solid;*/
  border-color: rgb(54, 54, 218); 
  box-shadow: 5px 5px 5px lightpink;  
}